<h3>Last month vs. Previous average</h3>

<table class="last-month">
    <col class="category" />
    <col class="divider" />
    <col class="percent" />
    <col class="divider" />
    <col class="percent" />
    <col class="percent divider" />
    <thead>
        <tr>
            <th></th>
            <th colspan="2">Last month</th>
            <th colspan="2">Previous average</th>
            <th></th>
        </tr>
        <tr>
            <th class="thick-border-top">Category</th>
            <th>Subtotal</th>
            <th>Percent</th>
            <th>Subtotal</th>
            <th>Percent</th>
            <th class="thick-border-top">Deviation</th>
        </tr>
    </thead>
    <tbody>
        {% for (name, category) in group.categories.iter() %}
        <tr>
            <td>{{ name }}</td>
            <td class="right">{{ category.last_subtotal }}</td>
            <td class="right">{{ category.last_percent | fmt("{:.2}") }}%</td>
            <td class="right">{{ category.p_avg_subtotal }}</td>
            <td class="right">{{ category.p_avg_percent | fmt("{:.2}") }}%</td>
            <td class="right">{{ category.dev_last_from_p_avg | fmt("{:+.2}") }}%</td>
        </tr>
        {% endfor %}
        <tr class="divider bold">
            <td>Total</td>
            <td class="right">{{ group.total.last_subtotal }}</td>
            <td class="right">{{ group.total.last_percent | fmt("{:.2}") }}%</td>
            <td class="right">{{ group.total.p_avg_subtotal }}</td>
            <td class="right">{{ group.total.p_avg_percent | fmt("{:.2}") }}%</td>
            <td class="right">{{ group.total.dev_last_from_p_avg | fmt("{:+.2}") }}%</td>
        </tr>
    </tbody>
</table>

<h3>New average vs. Previous average</h3>

<table class="average-month">
    <col class="category" />
    <col class="divider" />
    <col class="percent" />
    <col class="divider" />
    <col class="percent" />
    <col class="percent divider" />
    <thead>
        <tr>
            <th></th>
            <th colspan="2">New average</th>
            <th colspan="2">Previous average</th>
            <th></th>
        </tr>
        <tr>
            <th class="thick-border-top">Category</th>
            <th>Subtotal</th>
            <th>Percent</th>
            <th>Subtotal</th>
            <th>Percent</th>
            <th class="thick-border-top">Change</th>
        </tr>
    </thead>
    <tbody>
        {% for (name, category) in group.categories.iter() %}
        <tr>
            <td>{{ name }}</td>
            <td class="right">{{ category.avg_subtotal }}</td>
            <td class="right">{{ category.avg_percent | fmt("{:.2}") }}%</td>
            <td class="right">{{ category.p_avg_subtotal }}</td>
            <td class="right">{{ category.p_avg_percent | fmt("{:.2}") }}%</td>
            <td class="right">{{ category.dev_avg_from_p_avg | fmt("{:+.2}") }}%</td>
        </tr>
        {% endfor %}
        <tr class="divider bold">
            <td>Total</td>
            <td class="right">{{ group.total.avg_subtotal }}</td>
            <td class="right">{{ group.total.avg_percent | fmt("{:.2}") }}%</td>
            <td class="right">{{ group.total.p_avg_subtotal }}</td>
            <td class="right">{{ group.total.p_avg_percent | fmt("{:.2}") }}%</td>
            <td class="right">{{ group.total.dev_avg_from_p_avg | fmt("{:+.2}") }}%</td>
        </tr>
        <tr class="bold">
            <td>Total (yearly)</td>
            <td class="right">{{ group.yearly_subtotal }}</td>
            <td class="right"></td>
            <td class="right">{{ group.p_yearly_subtotal }}</td>
            <td class="right"></td>
            <td class="right"></td>
        </tr>
    </tbody>
</table>
